* {
  box-sizing: border-box;
}

body {
  margin: 0;
  /* background-color: #262d54; */
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.component-container {
  margin: 1rem;
  text-align: center;
}

.nav {
  background: linear-gradient(to right, #4c658a, #abf5c1);
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem; 
  padding: 0 1.2rem; 
  padding-bottom: 5px;
  border-style: solid;
  border-width: 0 0 5px 0;
  border-color: white;
  /* box-shadow: 0 0 10px white, 0 0 20px white; */
}

.only {
  color: white;
}
.site-title {
  font-size: 2.7rem;
  /* text-transform: uppercase; */
  /* color: white;
  font-weight: bold;  */
  /* box-shadow: 0 0 0 10px green; */
}
.jams {
  font-weight: bold;
  color: #abf5c1;
  /* font-size: larger; */
  /* text-transform: uppercase; */
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav li {
  transition: linear 0.5s;
}

.nav ul p {
  color: #4c658a;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  background-color: white;
  color: #177e89;
  border-radius: 6px;
}

.nav li:hover {
  border-radius: 6px;
  background-color: white;
  color: #177e89;
  /* text-shadow: 1px 1px 2px white; */
}

.logout {
  color: white;
  border: none;
  width: 175px; 
  background-color: #4c658a;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 10px;
  margin-bottom: 10px;
  border-style: solid;
  border-width: 2.5px;
  border-radius: 5px;
  border-color: white;
  transition: linear 0.3s;
}

.logout:hover {
  background-color: white;
  color: #3f3e7e;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.profile-btn{
      color: white;
    border: none;
    width: 175px; 
    background-color: #4c658a;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    border-style: solid;
    border-width: 2.5px;
    border-radius: 5px;
    border-color: white;
    transition: linear 0.3s;
}

.profile-btn:hover {
  background-color: white;
  color: #3f3e7e;
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.nav-profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 7px;
  border-style: solid;
  border-color: white;
  border-width: 2px;
}

.friend-searcher {
  margin-top: 7px;
  border-style: none;
  border-radius: 10px;
  width: 250px;
  height: 25px;
  text-align: center;
  font-family: inherit;
}

.dropdown {
  margin-top: 17px;
  color: rgb(61, 100, 171);
  font-size: 19px;
  cursor: pointer;
  transition: linear 0.3s;
  margin-right: 10px;
}

.dropdown:hover{
   color:white; 
   font-size: 22px; 
  margin-left: 10px;
}
.menu {
  position: absolute;
  top: 60px;
  right: 15px;
  border: 4px solid white;
  border-radius: 5px;
  width: 250px;
  background: rgb(148, 198, 205);
  box-shadow: 0 0 10px white, 0 0 20px white;
}
.dropdown-container{
  margin-left: 20px;
  border-color: white;
  border-width: 3px;
  border-radius: 5px;
  padding: 6px;
  padding-left: 10px;
  padding-right: 10px;
}

.user-container{
  background: black;
  height: 100vh;
}